body {
  /* background-image: url(https://www.publicdomainpictures.net/pictures/310000/velka/abstract-squares-pattern-background-157052513466g.jpg) */
  background: black;
}

.box {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  margin-left: -1px;
  margin-bottom: -1px;
}

.off {
  /* background-color: peru; */
  background-color: black;
}

.on {
  /* background-color: dodgerblue; */
  background-color: white;
}

.box:hover {
  background: rgb(0, 204, 255);
}

.center {
  display: flex;
  justify-content: space-evenly;
  width: 40%;
  margin: 10px auto 20px;

}

.btn {
  color: black;
  margin: 0 .25em;
  border-radius: .5em;
}

.btn:hover {
  background-color: red;
}

.grid {
  width: 100vw;
  height: 75vh;
  line-height: 0;
  margin: 1em auto;
  /* box-shadow: 0px 0px 20px white; */
}



h1,
h2,
h3,
h4 {
  color: red;
  margin: auto;
  text-align: center;
  width: 50%;
  margin-top: 10px;
}

h4 {
  margin-top: 0px;
}
